@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

body{
    /* background-color: chocolate; */
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

p, ul, ol{
    font-size: 20px;
    line-height: 20px;
}

ul, ol{
    padding: 0;
    list-style-position: inside;
}

a, a:visited{
    color: green;
}

a:hover{
    color: rgb(5, 104, 252);
}

a:active{
    color: rgb(71, 5, 252);
}

p.caption{
    font-size: 16px;
    color: rgba(120, 120, 0, 0.637);
    font-style: oblique;
    margin: 0;
}

header{
    text-align: center;
    background-color: rgb(15, 134, 57);
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 20px solid rgba(177, 109, 9, 0.815);
    border-radius: 50%;
    background-image: url('./../img/impala-full-img.JPG');
    background-repeat: no-repeat;
    background-position: -169px -23px;
    background-size: 260%;
    margin: 0 auto;
}

header h1{
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 10px 0 20px 0;
  color: rgba(212, 204, 192, 0.815);
}

main{
    width: 800px;
    margin: 0 auto;
}

main h2{
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 10px 0 20px 0;
}

main .fun-fact{
    background-color:#f0f8ff; 
    border-left: 4px solid #4CAF50; 
    padding: 10px; margin-top: 15px;
}

main img{
  max-width: 100%;
}
